@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8125em;
    width: 525px;
    height: 150px;
}

@media screen and (max-width: 950px) {
    .Header {
      font-size: 0.65em;
      width: 400px;
      height: 125px;
    }
}

@media screen and (max-width: 450px) {
    .Header {
      font-size: 0.6em;
      width: 350px;
      height: 100px;
    }
}